<template>
  <b-menu>
    <b-menu-list label="Main">
      <b-menu-item
        href="/events"
        icon="view-dashboard"
        label="Events"
      ></b-menu-item>
      <b-menu-item
        href="/races"
        icon="calendar-today"
        label="Races"
      ></b-menu-item>
      <b-menu-item
        href="/bets"
        icon="account-cash-outline"
        label="Bets"
      ></b-menu-item>
    </b-menu-list>
    <b-menu-list label="ADMIN">
      <b-menu-item
        href="/users"
        icon="card-account-details"
        label="Users"
      ></b-menu-item>
      <b-menu-item href="/horses" icon="horseshoe" label="Horses"></b-menu-item>
    </b-menu-list>
  </b-menu>
</template>

<script>
export default {
  data() {
    return {
      isActive: true,
    };
  },
};
</script>
