<template>
  <div>
    <section>
      <form @submit.prevent="submit">
        <div class="columns">
          <div class="column">
            <b-field label="Title">
              <b-input required id="title" v-model="fields.title" value></b-input>
            </b-field>
            <b-field label="Content">
              <b-input
                required
                v-model="fields.content"
                id="content"
                type="textarea"
              ></b-input>
            </b-field>
          </div>
          <div class="column">
            <b-field label="Start Date">
              <b-datetimepicker
                required
                v-model="fields.startDate"
                rounded
                locale="en-CA"
                placeholder="Click to select..."
                icon="calendar-today"
                horizontal-time-picker
              ></b-datetimepicker>
            </b-field>
            <b-field label="End Date">
              <b-datetimepicker
                required
                v-model="fields.endDate"
                rounded
                locale="en-CA"
                placeholder="Click to select..."
                icon="calendar-today"
                horizontal-time-picker
              ></b-datetimepicker>
            </b-field>
            <b-field label="Active">
              <b-switch
                true-value="1"
                false-value="0"
                v-model="fields.active"
              >
              </b-switch>
            </b-field>
          </div>
        </div>
        <b-button
          tag="input"
          type="is-info"
          native-type="submit"
          value="Save"
        ></b-button>
      </form>
    </section>
  </div>
</template>
<script>
import moment from "moment";
export default {
  data() {
    return {
      fields: {},
      errors: {},
      data: [],
      file: null,
    };
  },
  props: ["auth_user"],
  created() {},
  methods: {
    submit() {
      this.errors = {};
      console.log(this.fields);
      let formData = new FormData();
      
      formData.append("title", this.fields.title);
      formData.append("content", this.fields.content);
      formData.append("startDate", this.fields.startDate);
      formData.append("endDate", this.fields.endDate);
      formData.append("active", this.fields.active);


      axios
        .post("/api/announcement", formData, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then((response) => {
          this.$buefy.snackbar.open({
            message: "Entry successfully created",
            type: "is-success",
            position: "is-top",
            actionText: "OK",
            indefinite: false,
            onAction: () => {
              this.$router.go("/");
            },
          });
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
            this.$buefy.toast.open({
              duration: 5000,
              message: this.errors,
              position: "is-bottom",
              type: "is-danger",
            });
          } else {
            this.$buefy.toast.open({
              duration: 5000,
              message: error.response.data.message,
              position: "is-bottom",
              type: "is-danger",
            });
          }
        });
    },
  },
  filters: {
    /**
     * Filter to truncate string, accepts a length parameter
     */
    truncate(value, length) {
      return value.length > length ? value.substr(0, length) + "..." : value;
    },
  },
  mounted() {},
};
</script>
